.forgot-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: transparent;
}

.forgot-password-container {
  /* background: rgba(183, 177, 218, 0.43); */
  background: rgba(31, 41, 55, 0.8);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.forgot-password-container h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #4f46e5;
}

.forgot-password-container p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.forgot-input {
  /* width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color:black; */
  width: 100%;
  padding: 18px 18px 18px 40px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  background: #f9fafb;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: box-shadow 0.2s ease-in-out;
  
  margin-bottom: 20px;
}

.forgot-btn {
  /* width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background: #0cbb69;
  color: white;
  cursor: pointer;
  transition: background 0.3s; */
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(to right, #3b82f6, #2563eb);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.forgot-icon {
  position: absolute;
  top: 30%;
  left: 10px;
  transform: translateY(-50%);
  color: #000000;
}
.input-container {
  position: relative;
  margin-bottom: 20px;
}
.forgot-btn:hover {
  /* background: #068047; */
  background: linear-gradient(to right, #2563eb, #1d4ed8);
}